.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20%;
    top: 0;
}
.register-panel {
    padding: 32px;
    border: 1px solid #ddd;
}
.register-header {
    text-align: center;
}

.register-header small {
    display: block;
}

.register-form {
    max-width: 300px;
}

.help-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}